.body-wrapper {
	.container {
		.wrapper {
			.header {
				display: flex;
				justify-content: space-around;
				margin-top: 50px;
				color: #fff;
			}
			.body-wrapp {
				display: flex;
				justify-content: space-around;
				margin-top: 61px;
				color: #fff;
			}
		}
		text-align: center;
		max-width: 70%;
		margin: auto;
		overflow: hidden;
		height: 100vh;
		.location-form {
			margin-top: 50px;

			form {
				input {
					width: 50%;
					padding: 10px;
					border: none;
					&:focus {
						outline: none;
					}
				}
				button {
					padding: 10px;
					border: none;
				}
			}
		}
	}
}
